/JavaDistanceApplication/nbproject/private/
/JavaDistanceApplication/build/
/learn-CelsiusConverterProject/nbproject/private/
/learn-CelsiusConverterProject/dist/
/learn-CelsiusConverterProject/build/